@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

$red: #e7473c;
$white: #f0f0f0;
$gray: #b3b3b3;
$titleFont: 'Crimson Text', serif;
$mainFont: 'Red Hat Mono', monospace;
$fixedWidth: 33%;